<div style="float: right; padding-right: 10%;">
<% if current_user %>
  <li>
    Welcome <%= current_user.name %>!
    <%= link_to('Signout', signout_path) %>        
  </li>
<% else %>
  <li>
    <%= link_to('Signup', new_user_registration_path) %> |
    <%= link_to('Login', new_user_session_path)  %>  |
    <%= link_to('Sign in with Facebook', "/auth/facebook") %> 
    <%#= old path was: user_omniauth_authorize_path(:facebook) %>
  </li>
<% end %>
</div>
